<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../home/index.css">
 

</head>
<body>
    <header>
        <h1><a href="../home/index.htm">Sistemas de Vacinas</a></h1>
  
      <div class="div1">
          <ul>
            
              <li><a href="">Vacinas</a></li>
              <li><a href="">Institucional</a></li>
              <li><a href="../login/index.htm" class="botao"  >Cadastro</a></li>
             </ul>
      </div>
      
    </header>  
    <section class="img-section">
          <div id="slide">
              <img src="../../img/1.jpeg" alt="">  
          </div>
  </section>
  <script src="../home/index.js"></script>

  <section class="text-section">
  <h2>  Bem-vindo ao <span>Sistema de Vacinação</span>  </h2>
  <p>O nosso sistema de vacinação foi desenvolvido para garantir que você e sua família recebam as vacinas necessárias de forma fácil e conveniente. Com uma interface intuitiva e funcionalidades avançadas, estamos aqui para ajudá-lo a manter sua saúde em dia.</p>  
  <h2>Como começar?</h2>
  <p>Para começar a usar nosso sistema, basta criar uma conta gratuita e começar a agendar suas vacinas. Estamos aqui para tornar o processo de vacinação mais simples e conveniente para você.

    Junte-se a nós no caminho para uma vida mais saudável e protegida. O seu bem-estar é a nossa prioridade.</p>
</section>
</body>
</html>